<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CrabNebula Style Guide</title>
		<link rel="stylesheet" href="dist/css/crabnebula.css" />

		<!-- for syntax highlighting -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/shades-of-purple.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	</head>
	<body>
		<div class="cn-hero" style="background-image: url(img/hero.png)"></div>
		<div class="cn-container">{{ block "main" . }} {{ end }}</div>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
