@use "styles";

div.cn-badge {
	display: inline-block;
	padding: 2px 6px;
	border-radius: 4px;
}

div.cn-badge-group {
	text-align: right;

	div.cn-badge {
		padding: 12px;
		border-radius: 24px 0 0 24px;
	}
}
