@use "styles";

button,
a.cn-btn {
	/* Normalize anchors nad buttons */
	display: table-cell;
	cursor: pointer;
	outline: 0;
	margin: 0;
	padding: 12px 24px;
	border: 0;
	border-radius: 8px;
	color: inherit;
	text-decoration: none;
	font: inherit;
	text-align: center;
	text-transform: none;
	align-items: unset;
	justify-content: center;
	vertical-align: middle;
	line-height: 1rem;
	writing-mode: horizontal-tb;
	word-spacing: 0;
	font-stretch: 100%;
	text-rendering: auto;
	letter-spacing: normal;
	box-sizing: border-box;
	appearance: auto;
}

button,
.cn-btn {
	background: styles.$slate;
}

.cn-btn-link {
	background: transparent;
}
