/**
 * Copyright 2023 CrabNebula Ltd.
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use "styles";

div.cn-card {
	box-sizing: border-box;

	background: styles.$card-background;
	border-radius: 16px;
	padding: 10px 20px 20px;
	border: 1px solid styles.$card-border-color;
}
