// base
$base-background: #001631;
$base-font-color: #ffffff;
$base-font-family: "Euclid Circular B", Arial, sans-serif;

$base-link-color: #bf0095;
$base-link-hover-color: #ff00c7;

$base-hero-image: url("../images/hero.png");
$base-hero-min-height: 200px;
$base-hero-max-height: 293px;

$base-container-max-width: 648px;

// cards
$card-background: #011b42;
