$pink: #ff00c7;
$berry: #bf0095;
$light-blue: #6cf3ff;
$teal: #2f90a5;
$green: #3ae100;
$deep-dark-blue: #001631;
$dark-blue: #011b42;
$slate: rgba(239, 241, 255, 0.1);
$white: #ffffff;

// base
$base-background: $deep-dark-blue;
$base-font-color: $white;
$base-font-family: "Euclid Circular B", Arial, sans-serif;

$base-link-color: $berry;
$base-link-hover-color: $pink;

$base-hero-max-height: 293px;

$base-container-max-width: 648px;

// cards
$card-background: $dark-blue;
$card-border-color: $slate;
